tracking_implementations/AVTrack/data/
tracking_implementations/AVTrack/output/checkpoints/train/avtrack/deit_tiny_distilled_patch16_224/
tracking_implementations/AVTrack/teacher_model/
tyf/
pipeline/videos/Talon_video.mp4
yolo_engine/
tracking_implementations/AVTrack/pretrained_models/
pipeline/models/AVTrack_model.pth
pipeline/models/best_new.onnx